@import "../../utils/style/variables.scss";

.home_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    @media (min-width: $desktop) {
        gap: 40px;
    }
    .cards_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        @media (min-width: $tablett) {
            grid-template-columns: 1fr 1fr;
            background-color: $secondary_background;
            border-radius: 10px;
            padding: 3vw 4%;
        }
        @media (min-width: $desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .error_message {
        @include generic_message;
    }
}
