@import "../../utils/style/variables.scss";

.home_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    .home_banner_wrapper {
        width: 100%;
        height: 110px;
    }
    .error_container {
        display: flex;
        justify-content: center;
    }
}
