@import "../../utils/style/variables.scss";

.home_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    .error_container {
        display: flex;
        justify-content: center;
    }
}
