@import "../../utils/style/variables.scss";

.card_container {
    width: calc(100vw - (2 * $body_margin));
    height: calc((100vw - (2 * $body_margin)) * 0.75);
    min-width: calc($min_mobile_vw - (2 * $body_margin));
    min-height: calc(($min_mobile_vw - (2 * $body_margin)) * 0.75);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
        0deg,
        rgba(159, 60, 60, 1) 0%,
        rgba(255, 96, 96, 1) 100%
    );
    .card_link {
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(-30%);
        padding: 0 6%;
        color: #ffffff;
    }
}
