@import "../../utils/style/variables.scss";

.header_container {
    display: flex;
    justify-content: space-between;
    margin: $body_margin;
    @media (min-width: $tablett) {
        margin: 40px $tablett_body_margin;
    }
    @media (min-width: $desktop) {
        margin: 40px $desktop_body_margin;
    }
    .logo_link {
        width: 35vw;
        min-width: 145px;
        @media (min-width: $tablett) {
            width: 180px;
        }
        @media (min-width: $desktop) {
            width: 210px;
        }
    }
    nav {
        display: flex;
        align-items: flex-end;
        @media (min-width: $desktop) {
            gap: 30px;
        }
        .nav_link {
            text-transform: uppercase;
            font-weight: 500;
            color: $primary;
            margin: 10px;
            border-bottom: 1px solid transparent;
            @media (min-width: $tablett) {
                text-transform: capitalize;
                font-size: 1.8rem;
            }
            @media (min-width: $desktop) {
                font-size: 2.4rem;
            }
            &:hover {
                cursor: pointer;
                border-bottom: 1px solid $primary;
            }
        }
    }
}
