@import "./variables.scss";

.root_layout {
    display: flex;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    font-family: montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

main {
    margin: 0 $body_margin 20px $body_margin;
    @media (min-width: $tablett) {
        margin: 0 $tablett_body_margin 20px $tablett_body_margin;
    }
    @media (min-width: $desktop) {
        margin: 0 $desktop_body_margin 30px $desktop_body_margin;
    }
}

h1 {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
}
