// Colors

$primary: #ff6060;
$light: #e3e3e3; /*stars*/
$secondary_background: #f6f6f6;

// Dimensions

$body_margin: 20px;
$min_mobile_vw: 320px;
$tablett_body_margin: 60px;
$desktop_body_margin: 100px;

// Breakpoints

$tablett: 600px;
$desktop: 1024px;

// Mixins

@mixin generic_message {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 1.4rem;
}
